.wrapper {
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'ProximaNova', 'sofiapro';
    font-weight: 700;
    min-width: 100px;
    min-height: 36px;
    cursor: pointer;
    border: 1.5px solid transparent;
    line-height: 16px;

    + .wrapper {
        margin-left: 8px;
    }
}

.primary {
    background-color: var(--primary);
    color: var(--white);
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    background-color: var(--white);
    color: var(--primary);
    border-color: var(--primary);
}

.outlineblackcolor {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    color: rgb(22, 24, 35);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }

    .iconleft {
        align-items: center;
        display: inline-block;
        height: 16px;
        width: 20px;
        margin-right: 8px;
    }

    .iconright {
        display: inline-block;
        align-items: center;
        height: 16px;
        width: 20px;
        margin-left: 8px;
    }
}

.buttongetapp {
    border-color: rgba(22, 24, 35, 0.12);
    background: none rgb(255, 255, 255);
    color: rgba(22, 24, 35, 0.75);
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
    min-height: 32px;
    border-radius: 52px;
}

.text {
    background-color: transparent;

    &:hover {
        text-decoration: underline;
    }

    .iconleft {
        align-items: center;
        display: inline-block;
        height: 16px;
        width: 20px;
        margin-right: 8px;
    }

    .iconright {
        align-items: center;
        display: inline-block;
        height: 16px;
        width: 20px;
        margin-left: 8px;
    }
}

.textmenu {
    width: 100%;
    background-color: transparent;
    flex-wrap: nowrap;
    text-align: start;

    .iconleft {
        align-items: center;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin-right: 8px;
    }

    .iconright {
        align-items: center;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin-left: 8px;
    }
}
//size button

.small {
    min-height: 28px;
    padding: 0;
    min-width: 88px;

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.large {
    min-width: 324px;
    min-height: 48px;

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}
