@import 'normalize.css';

:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text--color: #333;

    //Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'ProximaNova', 'sofiapro';
    // font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5rem;
    color: var(--text--color);
}

button,
input,
[typeindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text--color);
    text-decoration: none;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/Fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/Fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/Fonts/ProximaNova-Semibold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: sofiapro;
    src: url('/assets/Fonts/sofiapro-bold.woff');
    font-weight: 700;
}
s body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        background-color: #000000bb;
        padding: 4px;
    }

    .tippy-arrow {
        color: #000000bb;
    }
}
